h1 {
  font-size: 30pt;
}

.flexy {
  display: flex;
  justify-content: space-between;
}

.pic-1 {
  height: 65vh;
  border-radius: 300%;
}

.Main_txt {
  width: 80%;
}

.vid-container {
  width: 35vw;
}

h1 {
  text-align: justify;
  justify-content: center;
  display: flex;
  max-width: 500px;
  margin: auto;
}
body {
  background: teal;
  background-image: linear-gradient(200deg, green, black);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

iframe {
  aspect-ratio: 16/9;
}
p {
  color: white;
}
.pic2 {
  height: auto;
  border-radius: 300%;
  width: 250px;
}
.pic3 {
  height: auto;
  border-radius: 300%;
  left: 100px;
  top: 50px;
  width: 250px;
}
table {
  border: 1px solid blue;
  display: flex;
  justify-content: center;
}
td {
  border: 1px solid gray;
  width: 50%;
}

.pic3-cont {
  display: flex;
  justify-content: end;
  position: relative;
}
h2 {
  display: flex;
  justify-content: center;
  margin: auto;
  color: white;
}
.extra_pics {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
